.footer{
    background-color: $bg2;
    &__content{
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.18px;
        color: #4C4764;
        margin: 25px 0;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap:69px;
        padding: 50px 0;
    }
    &__social{
        display: flex;
        align-items: center;
        li+li{
            margin: 0 0 0 25px;
        }
    }
    @media (max-width:$md1) {
 
        &__inner{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 1px;
            grid-column-gap: 90px;
          
        }


        &__social{
            justify-content: flex-start;
        }
        &__column{
           &+&{
               margin: 20px 0 0 0 ;
           }
           &_b{
           grid-row: 1 / 4;
         }
        }
    }
    @media (max-width:560px) {
 
        &__inner{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 1px;
            grid-column-gap: 90px;
          
        }


        &__social{
            justify-content: flex-start;
        }
        &__column{
           &+&{
               margin: 20px 0 0 0 ;
           }
           &_b{
           grid-row: 1 / 1;
         }
        }
    }
}



.footer-list{
    &__name{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $maincolor;
        margin: 0 0 12px 0 ;
        pointer-events:none;
        
    }
    &__content{
        li+li{
          
              margin-top: 6px;
          
      }
  }
  &__link{
    font-size: 15px;
    line-height: 24px;
    color: $color1;
    transition: $Tobject $speed $Tstyle;
    &:hover{
        color: $transcolor;
    }
}

@media (max-width:$md1) {
    &__name{
        border-radius: 5px;
        background: $bg1;
        padding: 10px;
    }
    &.active{
        .footer-list__content{
            display: block;
        }
        .footer-list__name{
            position: relative;
            color: $transcolor;
           
        &:after{
            top: 50%;
            transform: rotate(90deg) translateY(-50%);
                
        }
        
        }
    }


    &__content{
        display: none;
    }



    &__name{
        transition: $Tobject $speed $Tstyle;

        position: relative;
        &:after{
            content: ">";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 0%;
            right: -19px;
            top: calc(50%  - 9px);
            transform:translateY(-50%);
            transition: $Tobject $speed $Tstyle;

       }
      
    }
    &__inner{
        
        align-items: center;
        padding: 50px 0 ;
        flex-direction: column;
    }
}


}