$maincolor:#100A30;
$color1:#4C4764;
$color2:#ffffff;


$bg1:#fff;
$bg2:#F8F8F9;



$transcolor:#624DE3;
$speed:.2s;
$Tobject:all;
$Tstyle:linear;
$containerwidth:1300px;
$mainfontfamily:"Inter";



$md1:991.98px;
$md2:767.98px;
$md3:479.98px;
$burgerbp:869px;

// transition: $Tobject $speed $Tstyle;
